* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  }
  

.headerHolder {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #23B5D3;
  height: 5rem;
  padding-left: 3rem;
  padding-top: 1.2rem;
}

.headerText {
  display: flex;
  align-items: center;
}

.headerMenuHolder {
  padding-right: 3rem;
}

.formTitle {
  background-color: #F7F7FF;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
}

.formContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20rem;
  width: 100%;
  background-color: #F7F7FF;
}

.form {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.inputContainer {
  display: flex;
  justify-content: center;
  padding: .2rem;
}

.selectButton {
  width: 9.6rem;
  padding: .2rem ;
  border-radius: .4rem;
  display: flex;
  justify-content: center;
}

.inputFeild {
  width: 9rem
}

.postedJobs {
  background-color: #23B5D3;
  padding: 1rem;
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
}

.card {
  width: 10rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 1rem;
}

.cardInfo {
  padding: .2rem;
}

.cardDate {
  font-size: .8rem;
}

.mainFooterContianer {
  background-color: #F7F7FF;
  height: 7rem;
  position: fixed;
  width: 100%;
  bottom: 0;
  display: flex;
  align-items: center;
  padding-left: 1rem;
}